$border-color: #a5a5a5;

$bg-h-color: #d3d3d3;

$bg-bar: #ffebcd;

$bg: #f5f5f5;

$max-height: 300px;

@mixin default-grid($width: 60px) {
  width: $width;
  height: 20px;
  padding: 5px 10px;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  text-align: center;
  z-index: inherit;
}

@mixin text-omit() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
